// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul {
  list-style: circle inside;
}

.audio-container {
  margin-bottom: 2em;
  width: 100%;

  .audio-player {
    margin-bottom: 0.5em;
  }

  .audio-summary {
    font-size: 80%;
    text-align: right;
  }
}
